<a href="https://colab.research.google.com/github/avisekksarma/Fraud-detection/blob/main/minification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Load data faster -> pickle format <br>
Consume less memory -> Carefull type downcasting <br>
Avoid repeated cleaning steps. <br>

In [ ]:
# General imports
import numpy as np
import pandas as pd
import os, warnings, datetime, math

from sklearn.preprocessing import LabelEncoder

warnings.filterwarnings('ignore')

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive' , force_remount=True)

Mounted at /content/gdrive

In [ ]:
os.chdir('//content/gdrive/My Drive/Fraud_detection/')

In [ ]:
#load data

print('Load Data')
train_df = pd.read_csv('train_transaction.csv')
test_df = pd.read_csv('test_transaction.csv')
test_df['isFraud'] = 0

train_identity = pd.read_csv('train_identity.csv')
test_identity = pd.read_csv('test_identity.csv')

Load Data

In [ ]:
#helpers

## Memory Reducer
#Careful Downcasting

def reduce_mem_usage(df, verbose=True):
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage().sum() / 1024**2
    for col in df.columns:
        col_type = df[col].dtypes
        if col_type in numerics:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)
    end_mem = df.memory_usage().sum() / 1024**2
    if verbose: print('Mem. usage decreased to {:5.2f} Mb ({:.1f}% reduction)'.format(end_mem, 100 * (start_mem - end_mem) / start_mem))
    return df

In [ ]:
#base check
for df in [train_df, test_df, train_identity, test_identity]:
    original = df.copy()
    df = reduce_mem_usage(df)

    for col in list(df):
        if df[col].dtype!='O':
            if (df[col]-original[col]).sum()!=0:
                df[col] = original[col]
                print('Bad transformation', col)

Mem. usage decreased to 542.35 Mb (58.7% reduction)
Bad transformation V126
Bad transformation V127
Bad transformation V128
Bad transformation V129
Bad transformation V130
Bad transformation V131
Bad transformation V132
Bad transformation V133
Bad transformation V134
Bad transformation V135
Bad transformation V136
Bad transformation V137
Bad transformation V150
Bad transformation V159
Bad transformation V164
Bad transformation V202
Bad transformation V203
Bad transformation V204
Bad transformation V205
Bad transformation V206
Bad transformation V207
Bad transformation V208
Bad transformation V209
Bad transformation V210
Bad transformation V211
Bad transformation V212
Bad transformation V213
Bad transformation V214
Bad transformation V215
Bad transformation V216
Bad transformation V263
Bad transformation V264
Bad transformation V265
Bad transformation V266
Bad transformation V267
Bad transformation V268
Bad transformation V269
Bad transformation V270
Bad transformation V271
Bad transformation V272
Bad transformation V273
Bad transformation V274
Bad transformation V275
Bad transformation V276
Bad transformation V277
Bad transformation V278
Bad transformation V306
Bad transformation V307
Bad transformation V308
Bad transformation V309
Bad transformation V310
Bad transformation V311
Bad transformation V312
Bad transformation V313
Bad transformation V314
Bad transformation V315
Bad transformation V316
Bad transformation V317
Bad transformation V318
Bad transformation V319
Bad transformation V320
Bad transformation V321
Bad transformation V332
Bad transformation V334
Bad transformation V335
Bad transformation V336
Mem. usage decreased to 473.07 Mb (68.9% reduction)
Bad transformation TransactionAmt
Bad transformation dist1
Bad transformation dist2
Bad transformation C1
Bad transformation C2
Bad transformation C11
Bad transformation C12
Bad transformation D8
Bad transformation D9
Bad transformation V126
Bad transformation V127
Bad transformation V128
Bad transformation V129
Bad transformation V130
Bad transformation V131
Bad transformation V132
Bad transformation V133
Bad transformation V134
Bad transformation V135
Bad transformation V136
Bad transformation V137
Bad transformation V150
Bad transformation V160
Bad transformation V161
Bad transformation V162
Bad transformation V163
Bad transformation V166
Bad transformation V202
Bad transformation V203
Bad transformation V204
Bad transformation V205
Bad transformation V206
Bad transformation V207
Bad transformation V208
Bad transformation V209
Bad transformation V210
Bad transformation V211
Bad transformation V212
Bad transformation V213
Bad transformation V214
Bad transformation V215
Bad transformation V216
Bad transformation V263
Bad transformation V264
Bad transformation V265
Bad transformation V266
Bad transformation V267
Bad transformation V268
Bad transformation V269
Bad transformation V270
Bad transformation V271
Bad transformation V272
Bad transformation V273
Bad transformation V274
Bad transformation V275
Bad transformation V276
Bad transformation V277
Bad transformation V278
Bad transformation V306
Bad transformation V307
Bad transformation V308
Bad transformation V309
Bad transformation V310
Bad transformation V311
Bad transformation V312
Bad transformation V313
Bad transformation V314
Bad transformation V315
Bad transformation V316
Bad transformation V317
Bad transformation V318
Bad transformation V319
Bad transformation V320
Bad transformation V321
Bad transformation V331
Bad transformation V332
Bad transformation V333
Bad transformation V334
Bad transformation V335
Bad transformation V336
Bad transformation V337
Bad transformation V338
Bad transformation V339
Mem. usage decreased to 25.86 Mb (42.7% reduction)
Bad transformation id_11
Mem. usage decreased to 25.44 Mb (42.7% reduction)
Bad transformation id-11

In [ ]:
for df in [train_df, test_df, train_identity, test_identity]:
    df = reduce_mem_usage(df)

Mem. usage decreased to 542.35 Mb (25.2% reduction)
Mem. usage decreased to 473.07 Mb (29.0% reduction)
Mem. usage decreased to 25.86 Mb (3.1% reduction)
Mem. usage decreased to 25.44 Mb (3.1% reduction)

In [ ]:
# card4, card6, ProductCD
# Converting Strings to ints(or floats if nan in column) using frequency encoding

for col in ['card4', 'card6', 'ProductCD']:
    print('Encoding', col)
    temp_df = pd.concat([train_df[[col]], test_df[[col]]])
    col_encoded = temp_df[col].value_counts().to_dict()
    train_df[col] = train_df[col].map(col_encoded)
    test_df[col]  = test_df[col].map(col_encoded)
    print(col_encoded)

Encoding card4
{'visa': 719649, 'mastercard': 347386, 'american express': 16009, 'discover': 9524}
Encoding card6
{'debit': 824959, 'credit': 267648, 'debit or credit': 30, 'charge card': 16}
Encoding ProductCD
{'W': 800657, 'C': 137785, 'R': 73346, 'H': 62397, 'S': 23046}

In [ ]:
for col in ['M1','M2','M3','M5','M6','M7','M8','M9']:
    train_df[col] = train_df[col].map({'T':1, 'F':0})
    test_df[col]  = test_df[col].map({'T':1, 'F':0})

for col in ['M4']:
    print('Encoding', col)
    temp_df = pd.concat([train_df[[col]], test_df[[col]]])
    col_encoded = temp_df[col].value_counts().to_dict()
    train_df[col] = train_df[col].map(col_encoded)
    test_df[col]  = test_df[col].map(col_encoded)
    print(col_encoded)

Encoding M4
{'M0': 357789, 'M2': 122947, 'M1': 97306}

In [ ]:
train_df['M1'].head()

0    1.0
1    NaN
2    1.0
3    NaN
4    NaN
Name: M1, dtype: float64

In [ ]:
for df in [train_df, test_df, train_identity, test_identity]:
    df = reduce_mem_usage(df)

Mem. usage decreased to 506.30 Mb (6.6% reduction)
Mem. usage decreased to 442.14 Mb (6.5% reduction)
Mem. usage decreased to 25.86 Mb (0.0% reduction)
Mem. usage decreased to 25.44 Mb (0.0% reduction)

In [ ]:
#Export
# train_df.to_pickle('train_transaction.pkl')
# test_df.to_pickle('test_transaction.pkl')

# train_identity.to_pickle('train_identity.pkl')
# test_identity.to_pickle('test_identity.pkl')

In [ ]:
test_df.shape

(506691, 394)

In [ ]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506691 entries, 0 to 506690
Columns: 394 entries, TransactionID to isFraud
dtypes: float16(332), float32(55), int16(1), int32(3), int8(1), object(2)
memory usage: 442.1+ MB

In [ ]:
train_df.tail()

        TransactionID  isFraud  TransactionDT  ...  V337  V338  V339
590535        3577535        0       15811047  ...   NaN   NaN   NaN
590536        3577536        0       15811049  ...   NaN   NaN   NaN
590537        3577537        0       15811079  ...   NaN   NaN   NaN
590538        3577538        0       15811088  ...   NaN   NaN   NaN
590539        3577539        0       15811131  ...   NaN   NaN   NaN

[5 rows x 394 columns]